@font-face {
    font-family: 'Raleway','Ubuntu','Work Sans','Questrial','IBM Plex Serif','Montserrat','IBM Plex Mono',monospace, sans-serif,serif;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Serif|Questrial|Raleway|Ubuntu|Work+Sans|Montserrat');
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Serif','Questrial','Montserrat', sans-serif, serif;
    font-size: 16px;
    line-height: 1.6;
    color: #424242;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3fffd;
}
a {
    color: inherit;
    text-decoration: none;
}
.main-page {
    z-index: 60;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.main-page .site-logo {
    cursor: default;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 38px;
    height: 38px;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    border-radius: 50%;
    background-color: #424242;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.3s 0.3s all ease-in-out;
}
.main-page .site-logo.ready {
    top: 38px;
    opacity: 0.3;
}
.main-page div.site-logo:hover {
    text-shadow: rgba(250,250,250,1) 0 0 4px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    opacity: 1;
    transition: 0.3s 0s all ease-in-out;
}
.main-page .page-nav {
    position: absolute;
    bottom: 4px;
    left: 50.5%;
    width: max-content;
    color: #424242;
    font-family: 'Questrial', 'sans-serif';
    font-size: 16px;
    transform: translate(-50%,-50%);
    list-style-type: none;
    opacity: 0;
}
.main-page .page-nav.ready {
    bottom: 10px;
    transition: 0.3s 1s all ease-in-out;
    opacity: 1;
}
.main-page .page-nav li {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 0 20px;
    padding: 2px 10px 2px 10px;
    border-bottom: 0 solid #424242;
    transition: 0.3s 0s all ease-in-out;
}
.main-page .page-nav.ready li {
    opacity: 0.7;
}
.main-page .page-nav.ready li.respond {
    opacity: 1;
}
.main-page .page-nav li span {
    position: relative;
    display: block;
    bottom: 0px;
    transition: 0.15s 0s all ease-in-out;
}
.main-page .page-nav li div {
    position: relative;
    display: block;
    content: ' ';
    height: 3px;
    width: 0px;
    background-color: #424242;
    transition: 0.3s 0s all ease-in-out;
}
.main-page .page-nav li.respond span,
.main-page .page-nav li.active span {
    bottom: 3px;
    font-weight: 900;
}
.main-page .page-nav li.respond div,
.main-page .page-nav li.active div {
    content: ' ';
    width: 100%;
}
.site-name  {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    color: rgba(141, 146, 65, 0);
    justify-content: center;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
    transition: 0.3s 1s all ease-in-out;
}
.site-name.ready {
    color: rgba(141, 146, 65, 1);
    transition: 0.6s 0.5s all ease-in-out;
}
.site-name.ready.opened {
    color: rgba(141, 146, 65, 0);
    transition: 0.3s 0s all ease-in-out;
}
.site-name h1 {
    font-family: 'IBM Plex Serif', serif;
}
.site-name h1 span {
    font-weight: 900;
}
